@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.our_body {
  min-height: 100vh;
  background-color: #E4D9C5;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: -1;
  /* overflow-x: hidden; */
}

a {
  color: #833921!important;
  text-decoration: none;
  margin-left: 1.2em;
  font-size: 1.1em;
  transition: 0.2s ease-in;
}

a:hover {
  text-decoration: none!important;
  transform: scale(1.1)

}

.center {
  justify-content: center;
}